@use "../abstracts" as *;

.header {
  position: sticky;
  background-color: inherit;
  z-index: 100;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: min(100%, 90rem);
  margin-inline: auto;
  padding: 0.5rem 2rem;

  > a {
    width: max-content;
    border-radius: 1rem;
  }

  &::after {
    position: absolute;
    right: 0;
    top: 0.5rem;
    white-space: nowrap;
    user-select: none;
    cursor: default;
    font-size: 10px;
    line-height: 1.5;
    content: "viewport size: " counter(w) "x" counter(h);
    counter-reset: h var(--h) w var(--w);
  }
}

.nav {
  position: relative;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  > button {
    background-color: transparent;
    border: none;

    .line {
      animation: burger-open 300ms forwards;

      &.top {
        --rotation: 45deg;
        transform-origin: 50px 50px;
      }

      &.bottom {
        --rotation: -45deg;
        transform-origin: 25px 60px;
      }
    }

    > svg {
      transition: all 200ms ease-in-out;
    }

    &[aria-expanded] {
      .line {
        animation: burger-close 300ms forwards;
      }
    }

    &:hover {
      cursor: pointer;

      > svg {
        stroke: clr("accent", 500);
      }
    }
  }

  > ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: -70%;
    background-color: clr("gray", 900);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    transition:
      visibility 300ms ease-in-out,
      opacity 300ms ease-in-out;
    margin: 0;

    &.open {
      visibility: visible;
      opacity: 1;
    }

    li {
      padding: 0.5rem 1rem;

      a {
        z-index: 2;
        display: block;
        position: relative;
        text-decoration: none;
        transition: translate 300ms;
        padding: 0;
        overflow: hidden;
        color: clr("accent", 700);

        &::after {
          content: attr(data-after);
          position: absolute;
          display: inline-block;
          translate: 0 100%;
          color: clr("accent", 500);
          left: 0;
          transition: translate 300ms;
        }

        > span {
          display: inline-block;
          translate: 0 0;
          transition: translate 300ms;
        }

        &.active,
        &:hover,
        &:focus-visible {
          > span {
            translate: 0 -100%;
          }

          &::after {
            translate: 0 0;
          }
        }
      }
    }
  }
}

@media (min-width: 48rem) {
  .nav {
    > button {
      display: none;
    }

    > ul {
      position: relative;
      visibility: visible;
      background-color: transparent;
      opacity: 1;
      flex-direction: row;
      top: 0;
      left: 0;
      border: none;
      align-items: center;
      justify-content: space-between;
      transition: none;
      padding: 0;
    }
  }
}

@keyframes burger-close {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 79.9;
  }
  60% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}

@keyframes burger-open {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  60% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
