@use "../abstracts" as *;
.container {
  width: min(100% - 3rem, 90rem);
  margin-inline: auto;
  background-color: hsl(0, 0, 9, 50%);
  border-radius: 0.5rem;
  padding: 1.5rem;

  p {
    max-width: 70ch;
    margin-inline: auto;
  }
}
