@use "../abstracts" as *;

a {
  width: max-content;
  text-decoration: none;
  border-radius: 1rem;
  color: clr("accent", 600) !important;
  transition: color 200ms ease-in-out;
  padding-inline: 1rem;

  &:hover {
    color: clr("accent", 500) !important;
  }
}
