@use "../abstracts" as *;

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  width: min(100% - 3rem, 90rem);
  margin-inline: auto;
  background-color: hsl(0, 0, 9, 50%);
  backdrop-filter: blur(12px);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
}

.nav {
  > button {
    background-color: transparent;
    border: none;

    > svg {
      transition: all 200ms ease-in-out;
    }

    &:hover {
      cursor: pointer;
      > svg {
        stroke: clr(accent, 500);
      }
    }
  }

  ul {
    display: flex;
    list-style: none;
    gap: 1rem;

    &[hidden] {
      display: none;
    }

    li {
      a {
        text-decoration: none;
      }
    }
  }
}
