@use "../abstracts" as *;

.note {
  background-color: clr(gray, 900);
  border-radius: 1rem;
  padding: 1.5rem;
  width: min(100%, 75ch);
  margin-inline: auto;

  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;

  h3 {
    color: clr(accent, 500);
  }

  time {
    color: clr(gray, 500);
    justify-self: end;
  }

  div {
    grid-column: 1 / -1;

    *:where(:not(:first-child)) {
      margin-block-start: 1rem;
    }

    pre {
      padding: 0.5rem;
    }
  }
}
