@use "../abstracts" as *;

.note {
  background-color: clr(gray, 900);
  border-radius: 1rem;
  padding: 1.5rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  h3 {
    color: clr(accent, 500);
  }

  time {
    color: clr(gray, 500);
    place-self: end;
  }

  p {
    grid-column: 1 / -1;
  }
}
