@use "../abstracts" as *;

.note {
  background-color: clr("gray", 900);
  border-radius: 1rem;
  padding: 1.5rem;
  width: min(100%, 80ch);
  margin-inline: auto;

  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;

  h3 {
    color: clr("accent", 500);
    font-size: 2em;
    line-height: 1.3;
    font-weight: 500;
  }

  time {
    color: clr("gray", 100);
    justify-self: end;
    font-size: 0.75em;
  }

  div {
    grid-column: 1 / -1;
    font-size: 1em;
    line-height: 1.2;

    *:where(:not(:first-child)) {
      margin-block-start: 1rem;
    }

    pre {
      padding: 0.5rem;
    }

    a {
      padding: 0;
    }
  }
}
