.scroller {
  --duration: 30s;
  --padding: 1rem;
  width: 100%;
  height: calc(var(--height) + 2 * var(--padding));
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    rgb(0, 0, 0) 40% 60%,
    transparent
  );

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
    min-width: calc(var(--quantity) * var(--width));
    position: relative;

    display: flex;
    align-items: center;

    li {
      left: 100%;
      position: absolute;

      animation: run var(--duration) linear infinite;
      animation-delay: calc(
        (var(--duration) / var(--quantity)) * (var(--position) - 20)
      );

      transition: filter 0.5s;

      &:hover {
        filter: grayscale(0);
      }
    }
  }

  img {
    aspect-ratio: 1;
  }

  &:hover li {
    filter: grayscale(1);
  }
}

@keyframes run {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
