$colors: (
  accent: (
    100: #FDD2B4,
    200: #FCB483,
    300: #FB9651,
    400: #F97316,
    500: #E05F06,
    600: #AE4A04,
    700: #7C3503,
    800: #4B2002,
    900: #190B01
  ),
  gray: (
    100: #DCDCDC,
    200: #C4C4C4,
    300: #ABABAB,
    400: #939393,
    500: #7A7A7A,
    600: #626262,
    700: #494949,
    800: #313131,
    900: #181818
  ),
  black: #000000,
  white: #FFFFFF,
);
