@use '../abstracts' as *;

@each $color, $values in $colors {
  @each $key, $value in $values {
    @if $value == null {
      .text-#{$color} {
        color: $value;
      }

      .bg-#{$color} {
        background-color: $value;
      }
    } @else {
      .text-#{$color}--#{$key} {
        color: $value;
      }
  
      .bg-#{$color}--#{$key} {
        background-color: $value;
      }
    }
  }
}