@use "../abstracts" as *;

// font-sizes
@each $size-name, $size-value in $font-sizes {
  @if ($size-value >= 2) {
    .text-#{$size-name} {
      font-size: clamp(
        calc(#{$size-value} * 0.5),
        calc(($size-value / 1rem) / 90 * 100vw),
        #{$size-value}
      );
      font-weight: 500;
    }
  } @else {
    .text-#{$size-name} {
      font-size: #{$size-value};
      font-weight: 400;
    }
  }
}

// font-highlight
.font-highlight {
  font-family: $ff-highlight, ui-monospace, Monaco, Consolas, monospace;
  letter-spacing: 0.1em;
}

// font-weights
@each $weight-name, $weight-value in $font-weights {
  .text-#{$weight-name} {
    font-weight: $weight-value;
  }
}

// text-transform
@each $transform, $transform-value in $text-transform {
  .text-#{$transform} {
    text-transform: $transform-value;
  }
}

// text-align
@each $align, $align-value in $text-align {
  .text-#{$align} {
    text-align: $align-value;
  }
}
