@use '../abstracts' as *;

// font-sizes
@each $size-name, $size-value in $font-sizes {
  @if ($size-value >= 2) {
    .text-#{$size-name} {
      font-size: clamp(calc(#{$size-value} * 0.3), calc(($size-value / 1rem) / 87.5 * 100vw), #{$size-value});
      font-weight: 500;
    }
  } @else {
    .text-#{$size-name} {
      font-size: #{$size-value};
      font-weight: 400;
    }
  }
}

// font-weights
@each $weight-name, $weight-value in $font-weights {
  .text-#{$weight-name} {
    font-weight: $weight-value;
  }
}

@each $transform, $transform-value in $text-transform {
  .text-#{$transform} {
    text-transform: $transform-value;
  }
}

@each $line-height, $line-height-value in $line-heights {
  .text-lh-#{$line-height} {
    line-height: $line-height-value;
  }
}