.container {
  --size: 40.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 40rem), 1fr));
  justify-items: center;
  gap: 1rem;
}

.textual {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: min(100%, var(--size));
  overflow: hidden;
  font-size: 1em;
  line-height: 1.5;
  gap: 1rem;
}

.gallery {
  max-width: var(--size);
  max-height: var(--size);
  aspect-ratio: 1;
  overflow: hidden;
  display: grid;
  justify-self: center;
  grid-template-columns: 49% 49%;
  grid-template-rows: 49% 49%;
  gap: 2%;
  transition: 500ms;

  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;

    &:hover,
    .active {
      cursor: pointer;
    }
  }

  &:has(.image-1.active) {
    grid-template-columns: 100% 0%;
    grid-template-rows: 100% 0%;
    gap: 0%;
  }

  &:has(.image-2.active) {
    grid-template-columns: 0% 100%;
    grid-template-rows: 100% 0%;
    gap: 0%;
  }

  &:has(.image-3.active) {
    grid-template-columns: 100% 0%;
    grid-template-rows: 0% 100%;
    gap: 0%;
  }

  &:has(.image-4.active) {
    grid-template-columns: 0% 100%;
    grid-template-rows: 0% 100%;
    gap: 0%;
  }
}

@media (min-width: 48rem) {
  .textual {
    max-height: var(--size);
    font-size: 1.25em;
  }

  .gallery {
    max-height: var(--size);
  }
}
