---

---

<footer class='footer'>
	<a href='https://github.com/karol-pl' target='_blank' rel='noopener noreferrer'>GitHub</a>
	<a href='https://linkedin.com/in/karol-homziuk/' rel='noopener noreferrer'>LinkedIn</a>
</footer>
