---
import { Image } from 'astro:assets'
import logo from '../../../public/icons/logo.svg'
---

<header class='header'>
	<a href='#'>
		<Image src={logo} alt='Website logo' width='120' height='80' title='Home' />
	</a>
	<nav class='nav'>
		<ul id='main-nav'>
			<li><a href='#about' data-after='who i am'><span>about me</span></a></li>
			<li><a href='#notes' data-after='posts'><span>notes</span></a></li>
		</ul>
	</nav>
</header>
