---
import Layout from '../layouts/Layout.astro'
import '../styles/pages/_404.scss'
---

<Layout title='Karol Homziuk'>
	<main>
		<section class='container'>
			<h1 class='text-4xl'>OOPS... I think you're lost</h1>
			<a class='cta' href='/'>Go back home</a>
		</section>
	</main>
</Layout>
