---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Karol Homziuk' description="404 - Page not found">
	<main>
		<section class='container'>
			<h1 class='text-4xl'>OOPS... I think you're lost</h1>
			<a class='cta' href='/'>Go back home</a>
		</section>
	</main>
</Layout>
