---
import Container from '../components/Container.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Hello from /about'>
	<main class='my-10'>
		<Container styles='flex flex-column' />
	</main>
</Layout>
