---
import Layout from '../layouts/Layout.astro'


---

<Layout title='Karol Homziuk - new coming soon' description="some description">
	<main>
		<section class="container">
					<h1 class='text-5xl text-accent--500 text-center'>Coming soon</h1>
		</section>
	</main>
</Layout>

