---
import Container from '../components/Container.astro'
import Cta from '../components/Cta.astro'
import Greeting from '../components/Greeting.astro'
import Scroller from '../components/Scroller.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Hello from /'>
	<main class='my-10'>
		<section id='hero'>
			<Container styles='flex flex-column py-12'>
				<h1 class='text-6xl text-accent--500 text-center'>Good <Greeting /></h1>
				<p class='pt-8 text-center text-lg'>
					I’m a software developer. For the past 3 years, I’ve been working with a wide range of
					tools, methodologies and frameworks. My main focus as a developer is to deliver a great
					user experience, no matter the environment.
				</p>
				<Cta
					href='/#about'
					text='get to know me'
					styles='text-uppercase text-sm self-center mt-8 font-highlight'
				/>
			</Container>
		</section>
		<section id='about'>
			<Container styles='about-container py-12'>
				<div>
					<p>
						I’m currently working as a front-end developer at <a
							class='text-bold text-accent--500'
							href='https://text.com'>text|</a
						>, where I get to bring creative and user-friendly web experiences to life. My passion
						for coding and design drives me to constantly learn and innovate in the ever-evolving
						tech landscape.
					</p>
					<p>
						Outside of work, I reside in Brazil with my wonderful fiancée. We love exploring new
						places together, whether it’s a weekend getaway to a nearby beach or an adventurous trip
						to a different city. Traveling allows us to create unforgettable memories and experience
						diverse cultures.
					</p>
					<p>
						In addition to our travels, I’m an avid basketball player. Hitting the court is my way
						of staying active and having fun. It’s also a great way to unwind and connect with
						friends.
					</p>
					<p>Also I'm a foodie, but enough about that, here's the tech I use daily:</p>
					<Scroller />
				</div>
				<div></div>
			</Container>
		</section>
		<section id='projects'>
			<Container styles='flex flex-column'>
				<h1 class='text-6xl text-accent--500 text-center'>Good <Greeting /></h1>
				<p class='pt-8 text-center text-lg'>
					I’m a software developer. For the past 3 years, I’ve been working with a wide range of
					tools, methodologies and frameworks. My main focus as a developer is to deliver a great
					user experience, no matter the environment.
				</p>
				<Cta href='/about' text='get to know me' styles='text-uppercase text-sm self-center mt-8' />
			</Container>
		</section>
		<section id='thoughts'>
			<Container styles='flex flex-column'>
				<h1 class='text-6xl text-accent--500 text-center'>Good <Greeting /></h1>
				<p class='pt-8 text-center text-lg'>
					I’m a software developer. For the past 3 years, I’ve been working with a wide range of
					tools, methodologies and frameworks. My main focus as a developer is to deliver a great
					user experience, no matter the environment.
				</p>
				<Cta href='/about' text='get to know me' styles='text-uppercase text-sm self-center mt-8' />
			</Container>
		</section>
		<section id='contact'>
			<Container styles='flex flex-column'>
				<h1 class='text-6xl text-accent--500 text-center'>Good <Greeting /></h1>
				<p class='pt-8 text-center text-lg'>
					I’m a software developer. For the past 3 years, I’ve been working with a wide range of
					tools, methodologies and frameworks. My main focus as a developer is to deliver a great
					user experience, no matter the environment.
				</p>
				<Cta href='/about' text='get to know me' styles='text-uppercase text-sm self-center mt-8' />
			</Container>
		</section>
	</main>
</Layout>
