---
import Container from '../components/Container.astro'
import Cta from '../components/Cta.astro'
import Greeting from '../components/Greeting.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Hello from /'>
	<main class='my-10'>
		<section id='hero'>
			<Container styles='flex flex-column py-12'>
				<h1 class='text-6xl text-accent--500 text-center'>Good <Greeting /></h1>
				<p class='pt-8 text-center text-lg'>
					I’m a software developer. For the past 3 years, I’ve been working with a wide range of
					tools, methodologies and frameworks. My main focus as a developer is to deliver a great
					user experience, no matter the environment.
				</p>
				<Cta
					href='/#about'
					text='get to know me'
					styles='text-uppercase text-sm self-center mt-8 font-highlight'
				/>
			</Container>
		</section>
		<section id='about'>
			<Container styles='py-12'>
				<div>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda facere iusto
					accusantium, ex sint itaque nemo veniam fugiat rerum ratione quis consequuntur cumque vel
					optio architecto non fugit, aspernatur tenetur. Accusamus ipsa aliquam iusto nam nobis,
					reprehenderit corporis eos eaque voluptatem perferendis delectus eum assumenda est odio
					praesentium aliquid, libero animi fugit rem atque. Praesentium, iusto tempora non ex
					blanditiis dicta sunt omnis laborum corporis? Ullam praesentium vel, commodi nostrum,
					veniam ipsum dolor pariatur quo magni quia fugit officia alias, impedit amet ipsa cum
					architecto error esse maxime exercitationem minima eum hic voluptatem. Odit, magnam
					obcaecati. Architecto eveniet commodi aut.
				</div>
				<div></div>
			</Container>
		</section>
		<section id='projects'>
			<Container styles='flex flex-column'>
				<h1 class='text-6xl text-accent--500 text-center'>Good <Greeting /></h1>
				<p class='pt-8 text-center text-lg'>
					I’m a software developer. For the past 3 years, I’ve been working with a wide range of
					tools, methodologies and frameworks. My main focus as a developer is to deliver a great
					user experience, no matter the environment.
				</p>
				<Cta href='/about' text='get to know me' styles='text-uppercase text-sm self-center mt-8' />
			</Container>
		</section>
		<section id='thoughts'>
			<Container styles='flex flex-column'>
				<h1 class='text-6xl text-accent--500 text-center'>Good <Greeting /></h1>
				<p class='pt-8 text-center text-lg'>
					I’m a software developer. For the past 3 years, I’ve been working with a wide range of
					tools, methodologies and frameworks. My main focus as a developer is to deliver a great
					user experience, no matter the environment.
				</p>
				<Cta href='/about' text='get to know me' styles='text-uppercase text-sm self-center mt-8' />
			</Container>
		</section>
		<section id='contact'>
			<Container styles='flex flex-column'>
				<h1 class='text-6xl text-accent--500 text-center'>Good <Greeting /></h1>
				<p class='pt-8 text-center text-lg'>
					I’m a software developer. For the past 3 years, I’ve been working with a wide range of
					tools, methodologies and frameworks. My main focus as a developer is to deliver a great
					user experience, no matter the environment.
				</p>
				<Cta href='/about' text='get to know me' styles='text-uppercase text-sm self-center mt-8' />
			</Container>
		</section>
	</main>
</Layout>
