---
import Layout from '../layouts/Layout.astro'
import "../styles/pages/_home.scss"


---

<Layout title='Karol Homziuk - new coming soon'>
	<main>
		<section class="container">
					<h1 class='text-5xl text-accent--500'>Coming soon</h1>
		</section>
	</main>
</Layout>

