---
import { Image } from 'astro:assets'
import Container from '../components/Container.astro'
import Cta from '../components/Cta.astro'
import Greeting from '../components/Greeting.astro'
import Scroller from '../components/Scroller.astro'
import Layout from '../layouts/Layout.astro'
import Thought from '../components/Thought.astro'

interface GalleryImage {
	id: number
	url: string
	alt: string
}

const gallery: GalleryImage[] = [
	{
		id: 1,
		url: '/asset1.webp',
		alt: 'Me, my fiancée and Shiva',
	},
	{
		id: 2,
		url: '/asset2.webp',
		alt: 'Road trip on Ilhabela, SP',
	},
	{
		id: 3,
		url: '/asset3.webp',
		alt: 'View of ocean',
	},
	{
		id: 4,
		url: '/asset4.webp',
		alt: 'Burgers and drinks',
	},
]
---

<Layout title='Karol Homziuk'>
	<main class='my-10'>
		<section id='hero'>
			<Container styles='flex flex-column py-15'>
				<h1 class='text-6xl text-accent--500 text-center'>Good <Greeting /></h1>
				<p class='pt-10 text-center text-lg'>
					I’m a software developer with 3+ years of experience. I excel at creating exceptional user
					experiences across various environments. My expertise spans a wide range of tools,
					methodologies, and frameworks, allowing me to adapt seamlessly to diverse project
					requirements.
				</p>
				<Cta
					href='/#about'
					text='get to know me'
					styles='text-uppercase text-sm self-center mt-10 font-highlight'
				/>
			</Container>
		</section>
		<section id='about'>
			<Container styles='about-container py-15'>
				<div class='about-textual text-lg'>
					<p>
						I’m currently working as a front-end developer at <a
							class='text-bold text-accent--500'
							href='https://text.com'
							target='_blank'
							rel='noopener noreferrer'>text|</a
						>, where I get to bring creative and user-friendly web experiences to life. My passion
						for coding and design drives me to constantly learn and innovate in the ever-evolving
						tech landscape.
					</p>
					<p>
						Outside of work, I reside in Brazil with my wonderful fiancée. We love exploring new
						places together, whether it’s a weekend getaway to a nearby beach or an adventurous trip
						to a different city. Traveling allows us to create unforgettable memories and
						experiences.
					</p>
					<p>
						In addition to our travels, I’m an avid basketball player. Hitting the court is my way
						of staying active and having fun. It’s also a great way to unwind and connect with
						others.
					</p>
					<p>Also I'm a foodie, but enough about me, here's the tech I use daily:</p>
					<Scroller height={4} width={4} />
				</div>
				<div class='about-gallery'>
					{
						gallery.map(({ id, url, alt }: GalleryImage) => (
							<Image tabindex={0} src={url} alt={alt} class=`image-${id}` width={316} height={272} />
						))
					}
				</div>
			</Container>
		</section>
		<section id='thoughts'>
			<Container class='py-15'>
				<Thought title="Thought1" content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat, ab perferendis nobis ipsum corrupti consequatur numquam debitis doloribus exercitationem!" date="14-09-2024" />
			</Container>
		</section>
	</main>
</Layout>

