---
import Layout from '../layouts/Layout.astro'
import Greeting from '../components/greeting/index.astro'

---

<Layout title='Karol Homziuk - new coming soon' description="some description">
	<main>
		<section class="container">
      <Greeting  />
		</section>
	</main>
</Layout>

