---
import { Image } from 'astro:assets'
import Greeting from '../components/Greeting.astro'
import Scroller from '../components/Scroller.astro'
import Layout from '../layouts/Layout.astro'
import "../styles/pages/_home.scss"





interface GalleryImage {
	id: number
	url: string
	alt: string
}

const gallery: GalleryImage[] = [
	{
		id: 1,
		url: '/asset1.webp',
		alt: 'Me, my fiancée and Shiva',
	},
	{
		id: 2,
		url: '/asset2.webp',
		alt: 'Road trip on Ilhabela, SP',
	},
	{
		id: 3,
		url: '/asset3.webp',
		alt: 'View of ocean',
	},
	{
		id: 4,
		url: '/asset4.webp',
		alt: 'Burgers and drinks',
	},
]
---

<Layout title='Karol Homziuk'>
	<main>
		<section class="container">
				<div class='textual'>
					<h1 class='text-5xl text-accent--500'>Good <Greeting /></h1>
				<p>
					I’m a software developer with 3+ years of experience. I excel at creating exceptional user
					experiences across various environments. My expertise spans a wide range of tools,
					methodologies, and frameworks, allowing me to adapt seamlessly to diverse project
					requirements.
				</p>
					<Scroller height={4} width={4} />
				</div>
				<div class='gallery'>
					{
						gallery.map(({ id, url, alt }: GalleryImage) => (
							<Image tabindex={0} src={url} alt={alt} class=`image-${id}` width={316} height={272} />
						))
					}
				</div>
		</section>
	</main>
</Layout>

