---
import Layout from '../layouts/Layout.astro'
import Hero from './_sections/hero/index.astro'
import About from './_sections/about/index.astro'
import Contact from './_sections/contact/index.astro'
---

<Layout title="Karol Homziuk" description="Personal website">
	<main>
		<Hero />
		<About />
		<Contact />
	</main>
</Layout>
