---
import About from './_sections/about/index.astro'
import Contact from './_sections/contact/index.astro'
import Hero from './_sections/hero/index.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Karol Homziuk" description="Personal website">
	<main class="main">
		<Hero />
		<About />
		<Contact />
	</main>
</Layout>

<style>
	.main {
		min-height: 100vh;
		display: grid;
		grid-template-rows: auto 1fr auto;
	}
</style>
