---
type Props = {
	styles?: string
}

const { styles }: Props = Astro.props

let greeting = ''

const setGreet = (): string => {
	const userTime = new Date().getHours()

	if (userTime > 20 || userTime < 4) {
		greeting = `evening`
	} else if (userTime > 10) {
		greeting = `afternoon`
	} else {
		greeting = `morning`
	}

	return greeting
}
---

<span class={styles}>
	{setGreet()}
</span>
