---
interface Props {
	title: string
	date: Date
}

const { title, date }: Props = Astro.props
---

<div class='note'>
	<h3>{title}</h3>
	<time datetime={date.toISOString()}>{date.toDateString()}</time>
	<div>
		<slot />
	</div>
</div>
