---
interface Props {
	title: string
	date: Date
	slug: string
}

const { title, date, slug }: Props = Astro.props
---

<div class='note'>
	<a href={`/notes/${slug}`}></a>
	<h3>{title}</h3>
	<time datetime={date.toISOString()}>{date.toDateString()}</time>
	<div>
		<slot />
	</div>
</div>
