@use "../abstracts" as *;

@property --w_raw {
  syntax: "<length>";
  inherits: true;
  initial-value: 100vw;
}

@property --h_raw {
  syntax: "<length>";
  inherits: true;
  initial-value: 100vh;
}

:root {
  --w: tan(atan2(var(--w_raw), 1px));
  --h: tan(atan2(var(--h_raw), 1px));
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  gap: 2rem;
  min-height: 100dvh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $ff-primary, monospace, system-ui, "sans-serif";
  font-size: fs(base);
  background-color: $color-black;
  color: clr("gray", 100);

  &::after {
    position: absolute;
    right: calc(0.25rem + 1vw);
    top: 0.5rem;
    white-space: nowrap;
    user-select: none;
    cursor: default;
    font-size: 10px;
    line-height: 1.5;
    content: "viewport size: " counter(w) "x" counter(h);
    counter-reset: h var(--h) w var(--w);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;

    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
