@use "../abstracts" as *;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  margin: 0;
  padding-block-end: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $ff-primary, system-ui, "sans-serif";
  font-size: fs(base);
  background-color: $color-black;
  color: clr("gray", 100);
}

@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;

    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
