---

---

<section class="container" id="about">
	<p>
		For over four years, I’ve been building for the web, crafting everything
		from complex interactive applications to high-performance websites.
	</p>
	<p>
		I specialize in the JavaScript and TypeScript ecosystem, balancing the power
		of React and Next.js with the lightweight speed of tools like Astro and
		Hugo.
	</p>
	<p>
		While I focus primarily on the frontend, I’m comfortable navigating the full
		stack, utilizing Node.js and Golang to drive backend logic.
	</p>
</section>

<style>
	.container {
		width: min(100% - 2rem, 50rem);
		margin-inline: auto;
		padding-block: clamp(1rem, calc(2 / 50 * 100vw), 2rem);

		p:not(:last-child) {
			margin-block-end: 1rem;
		}
	}
</style>
