---

---

<section class="container" id="about">
	<p>
		For over four years, I’ve been around in the world of web development,
		building everything from interactive web applications to high-performance
		websites.
	</p>
	<p>
		I specialize in the JavaScript and TypeScript ecosystem, leveraging the
		power of React and Next.js to build scalable applications. However, I also
		have a deep appreciation for the "static" web, utilizing tools like Astro
		and Hugo to deliver lightweight, fast content.
	</p>
	<p>
		While I spend most of my time in the frontend, I’m comfortable working
		across the stack with Node.js and Golang.
	</p>
</section>

<style>
	.container {
		width: min(100% - 2rem, 50rem);
		margin-inline: auto;
		padding-block: clamp(1rem, calc(2 / 50 * 100vw), 2rem);

		p:not(:last-child) {
			margin-block-end: 1rem;
		}
	}
</style>
