---

---

<section class="container" id="about">
	<p>
		For the past four years, I’ve been immersed in the world of web development,
		building everything from interactive web applications to high-performance
		websites.
	</p>
	<p>
		I specialize in the JavaScript and TypeScript ecosystem, leveraging the
		power of React and Next.js to build scalable applications. However, I also
		have a deep appreciation for the "static" web, utilizing tools like Astro
		and Hugo to deliver lightweight, fast content.
	</p>
	<p>
		While I spend most of my time in the frontend, I’m comfortable working
		across the stack with Node.js and am currently expanding my backend logic
		with Golang. My goal is simple: to build the most efficient solution for the
		problem at hand.
	</p>
</section>
